export(
  estMemSNPs.oneSetHyperPara,
  estMemSNPs,
  simGenoFunc,
  simGenoFuncDiffPriors
)

importFrom(stats,
       integrate,
       dbeta,
       model.matrix,
       optim,
       pbeta,
       p.adjust,
       rbeta,
       var,
       as.formula
)

importFrom("methods", "as")
importFrom("methods", "new")
importFrom("rootSolve", "multiroot")
importFrom("snpStats", "p.value")

importFrom("limma", "lmFit", "eBayes")

import(Biobase)


